.plansPageContent{
    padding: 96px 0;
}

@media (max-width: 960px){
    .plansPageContent{}
    .plansPageWrapper{
        display: block;
    }
}

@media (min-width: 1441px){
    .plansPageContent{
        padding: 5vw 0;
    }
}