.partnersWrapper{
    background: var(--text-color);
}
.partnersInner{
    display: flex;
    width: 100%;
    padding: 96px 0 96px 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
}
.partnersTitle{
    display: flex;
    width: 100%;
    padding-right: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}
.titleRow{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.titleRow > h3{
    color: var(--text-color-light);
    font-family: "PT Serif", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px; /* 120% */
}
.partnersTitle > div:nth-child(2){
    display: flex;
    align-items: flex-start;
    gap: 104px;
    align-self: stretch;
    max-width: 900px;
}
.partnersTitle > div:nth-child(2) > p{
    color: var(--text-color-light);
    opacity: .4;
}
.partnersList{
    padding-top: 24px;
    width: 100%;
}

@media (max-width: 960px){
    .partnersWrapper{
        display: block;
    }
    .partnersInner{
        padding: 48px 0 48px 20px;
    }
    .partnersTitle{
        padding-right: 20px;
    }
    .titleRow{
        flex-wrap: wrap;
        align-items: center;
    }
    .titleRow > h3{
        font-size: 32px;
        font-style: italic;
        font-weight: 400;
        line-height: 32px; /* 100% */
    }
    .partnersTitle> div:nth-child(2){
        max-width: 100%;
        flex-direction: column;
        gap: 32px;;
    }
}