.questionsWrapper{
    background:var(--btn-hover-bg);

}

.questionsContent{
    display: flex;
    width: 100%;
    padding: 0 96px 96px 96px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.title{
    display: flex;
    padding-top: 96px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    border-top: 1px solid var(--Alpha-AD12, rgba(29, 29, 27, 0.12)); 
}
.title > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
.title > div > p, .title > div > h3, .title > p{
    color: var(--text-color-light);
}
.title > div > p, 
.title > p{
    opacity: .4;
}
.title > p{
    max-width: 520px;
    text-align: center;
}
.title > div > h3{
    color: var(--Light-L80, #E5E3DA);
    text-align: center;
    font-feature-settings: 'ss10' on;
    font-family: "TA Modern Times", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 350;
    line-height: 52px; /* 92.857% */
    letter-spacing: 2.24px;
    text-transform: uppercase;
}
.bottom{
    display: flex;
    align-items: center;
    align-self: stretch;
}
.bottom > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
}
.bottom > div > p, 
.bottom > div > a, 
.bottom > div > a > p{
    color: var(--text-color-light);
}
.btn{
    display: flex;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 320px;
    background: var(--btn-bg);
}

@media (max-width: 960px){
    .questionsWrapper{
        display: block;
    }
    .questionsContent{
        padding: 56px 20px;
        gap: 32px;
    }
    .title{
        padding: 0;
        gap: 32px;
        align-items: flex-start;
    }
    .title > p{
        text-align: left;
    }
    .title > div{
        gap: 16px;
        align-items: flex-start;
        text-align: left;
    }
    .title > div > h3{
        text-align: left;
        font-size: 34px;
        font-style: normal;
        font-weight: 350;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.68px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
        /* gap: 8px; */
    }
    .bottom > div{
        padding: 20px 0;
        width: 100%;
        flex-direction: row;
        gap: 24px;
        /* justify-content: space-between; */
    }
    .bottom > div > a:nth-child(1), 
    .bottom > div > p{
        flex: 1 0 0;
    }
    .bottom > div > a:nth-child(2),
    .bottom > div > button, 
    .btn{
        width: 160px;
    }
}