.targetWrapper{
    width: 100%;
    height: 100dvh;
    background: var(--text-color);
}
.targetInner{
    width: 100%;
    height: 100%;
    display: flex;
}
.leftImgWrapper {
    position: relative;
}
.leftImgWrapper > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.targetInner > div{
    /* flex: 1 0 0; */
    width: 50%;
    height: 100%;
}
.targetInner > div:nth-child(2){
    display: flex;
    padding: 160px 96px 160px 96px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex: 1 0 0; */
    width: 50%;
}
.targetInner > div:nth-child(2) > p{
    color: var(--text-color-light);
    text-align: center;
    max-width: 462px;
}
.titleRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
.titleRow > p, .titleRow > h3{
    color: var(--text-color-light);
}
.titleRow > p{
    opacity: .5;
}
.titleRow > h3{
    text-align: center;
    font-feature-settings: 'ss10' on;
    font-family: "TA Modern Times", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 350;
    line-height: 72px; /* 112.5% */
    letter-spacing: 2.56px;
    text-transform: uppercase;
}

@media(max-width: 960px){
    .targetWrapper{
        display: block;
        height: auto;
    }
    .targetInner{
        flex-direction: column;
        align-items: flex-start;
    }
    .targetInner > div{
        width: 100%;
    }
    .targetInner > div:nth-child(1){
        height: 320px;
    }
    .targetInner > div:nth-child(2){
        padding: 48px 20px;
        gap: 32px;
        width: 100%;
        align-items: flex-start;
    }
    .titleRow{
        gap: 16px;
        align-items: flex-start;
    }
    .titleRow > h3{
        font-size: 34px;
        font-style: normal;
        font-weight: 350;
        line-height: 40px; /* 117.647% */
        letter-spacing: 1.36px;
    }
    .targetInner > div:nth-child(2) > p{
        text-align: left;
    }
}