.eyeBrow{
    color: var(--eyebrow-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    letter-spacing: 0.13px;
    /* text-align: center; */
}

@media (max-width: 960px){
    .eyeBrow{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 100% */
        letter-spacing: 0.12px;
    }
}