.title{
    font-feature-settings: 'ss10' on;
    font-family: "TA Modern Times", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 350;
    line-height: 72px; /* 112.5% */
    letter-spacing: 2.56px;
    text-transform: uppercase;
}

@media (max-width: 960px){
    .title{
        font-size: 34px;
        font-weight: 350;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.68px;
    }
}