.archSectionWrapper{
    width: 100%;
    height: 100dvh;
}
.archSectionInner{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 122px 0 108px 96px;
    gap: 16px;
}
.archTitleBlock{
    display: flex;
    flex-direction: column;
    gap:108px;
}
.archTitleBlock > div:nth-child(1){
    display: flex;
    width: 520px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}
.archTitleBlock > div:nth-child(2){
    display: flex;
    align-items: center;
    gap: 16px;
}
.archTitleBlock > div:nth-child(2) > a{
    display: flex;
    width: 52px;
    height: 52px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 320px;
    border: 1px solid var(--Alpha-AD16, rgba(29, 29, 27, 0.16));
}
.archTitleBlock > div:nth-child(2) > a:hover{
    border: 1px solid rgba(29, 29, 27, 0.32);
}
.archSlider{
    width: 100%;
    height: 580px;
    overflow: hidden;
}
.imgWrapper{
    width: 100%;
    height: 300px;
    position: relative;
}
.imgWrapper > img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.archSlider > div{
    height: 100%;
}
.archSlider > div > div> div:nth-child(1),
.archSlider > div > div> div:nth-child(3),
.archSlider > div > div> div:nth-child(5),
.archSlider > div > div> div:nth-child(7),
.archSlider > div > div> div:nth-child(9),
.archSlider > div > div> div:nth-child(11){
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sliderText{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sliderText > h3{
    color: var(--Dark-D100, #1D1D1B);
    font-family: "PT Serif", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px; /* 125% */
}
.archSlider > div > div> div {
    position: relative;
}
.archSlider > div > div> div  > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 960px){
    .archSectionWrapper{
        /* padding: 96px 0; */
        display: block;
    }
    .archSectionInner{
        padding: 96px 0 96px 20px;
        flex-direction: column;
        gap: 56px;
    }
    .archTitleBlock{
        width: 100%;
        padding-right: 20px;
    }
    .archTitleBlock > div:nth-child(1){
        width: 100%;
        gap: 20px;
        position: relative;
    }
    .archTitleBlock > div:nth-child(1) > svg{
        position: absolute;
    }
    .archTitleBlock > div:nth-child(2){
        display:  none;
    }
    .archSlider > div > div > div:nth-child(1),
    .archSlider > div > div > div:nth-child(3),
    .archSlider > div > div > div:nth-child(5),
    .archSlider > div > div > div:nth-child(7),
    .archSlider > div > div > div:nth-child(9),
    .archSlider > div > div > div:nth-child(11)
    {
        gap: 32px;
    }
    .sliderText{
        gap: 24px;
    }
    .sliderText > h3{
        font-size: 22px;
        font-style: italic;
        font-weight: 400;
        line-height: 28px; /* 127.273% */
    }
}