.planItemPageContent{
    padding: 114px 0;
    gap: 114px;
}
.planItemPageContentTop{
    padding: 0 96px;
    display: flex;
    align-items: flex-start;
    gap: 104px;
}
.planItemInformation{
    display: flex;
    width: 416px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}
.breadCrumbs{
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.breadCrumbs > a{
    color: var(--Dark-D100, #1D1D1B);
    font-family: "Graphik LCG", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.44px;
    text-transform: uppercase;
}
.planItemTitle{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.planItemTitle > h2{
    color: var(--Dark-D100, #1D1D1B);
    font-family: "TA Modern Times", sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 350;
    line-height: 90px; /* 121.622% */
    letter-spacing: 1.48px;
    text-transform: uppercase;
}
.planItemInfoBottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    align-self: stretch;
}
.planItemCharacteristics{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.planItemCharacteristics > li{
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 12px;
    align-self: stretch;
}
.characteristicItem > p:nth-child(1){

}
.characteristicItem > span{
    display: flex;
    padding-bottom: 6px;
    align-items: flex-end;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
    position: relative;
}
.characteristicItem > span::after{
    content: '';
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 1px;
    background: var(--Alpha-AD12, rgba(29, 29, 27, 0.12));
}
.characteristicItem > p:nth-child(3){
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}
.planItemButtons{
    display: flex;
    align-items: center;
    gap: 8px;
}
.planItemButtons > button{
    display: flex;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 320px;
}
.planItemButtons > button:nth-child(1){
    background: var(--Accent-A100, #A39F91);
}
.planItemButtons > button:nth-child(2){
    background: var(--text-color);
}
.planItemButtons > button > p{
    color: var(--text-color-light);
}
.planItemImgWrapper{
    flex: 1 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}
.planItemImg{
    display: flex;
    /* padding: 111.935px 0 141.935px 0; */
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.planItemImg > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.fullScreenBtn{
    width: 48px;
    height: 48px;
    display: flex;
    padding: 14px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--Alpha-AD16, rgba(29, 29, 27, 0.16));
}
.planItemPageControl{
    display: flex ;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media (max-width: 960px){
    .planItemPage{
        display: block;
    }
    .planItemPageContent{
        padding: 96px 0;
        gap: 96px;
    }
    .planItemPageControlMobile{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }
    .planItemPageControl{
        display: none;
    }
    .planItemInformation{
        width: 100%;
    }
    .planItemPageContentTop{
        flex-direction: column;
        padding: 0 20px;
    }
    .breadCrumbs > a{
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 160% */
        letter-spacing: 1.2px;
    }
    .planItemTitle > h2{
        font-size: 34px;
        font-style: normal;
        font-weight: 350;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.68px;
    }
    .planItemInformation{
        gap: 16px;
    }
    .planItemPageControlMobile > svg:nth-child(1){
        width: 64px;
        height: 64px;
    }
    .planItemImgWrapperMobile{
        width: 100%;
        height: 330px;
    }
    .planItemImg{
        width: 100%;
        height: 100%;
    }
    .planItemImgWrapper{
        display: none;
    }
    .characteristicItem > p:nth-child(1),
    .characteristicItem > p:nth-child(3){
        font-size: 13px;
        line-height: 20px; /* 153.846% */
    }
}