.projectsPageWrapper{

}
.projectsPageContent{
    padding: 96px 96px 120px 96px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 56px;
}
.projectBottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.projectBottom > p:nth-child(1),
.projectBottom > p:nth-child(3){
    flex: 1 0 0;
}
.projectTitle{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.projectTitle > div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.projectTitle > div:nth-child(1) > p:nth-child(1){
    color: var(--Dark-D100, #1D1D1B);
    font-family: "TA Modern Times", sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 350;
    line-height: 90px; /* 121.622% */
    letter-spacing: 1.48px;
    text-transform: uppercase;
}
.projectTitle > div:nth-child(1) > p:nth-child(2){
    opacity: .4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 1.44px;
    text-transform: uppercase;
}
.projectTitle > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
.projectTitle > div:nth-child(2) > p:nth-child(1){
    color: var(--Dark-D100, #1D1D1B);
    font-family: "TA Modern Times", sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 350;
    line-height: 90px; /* 121.622% */
    letter-spacing: 1.48px;
    text-transform: uppercase;
}
.projectTitle > div:nth-child(2) > p:nth-child(2){
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.44px;
    text-transform: uppercase;
    opacity: .4
}
.projectBottom > p:nth-child(2){
    color: var(--Dark-D100, #1D1D1B);
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px; /* 125% */
}
.projectBottom > p:nth-child(3){
    text-align: right;
}
.projectImgWrapper{
    width: 100%;
    height: 730px;
}
.projectImgWrapper > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projectDescription{
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    gap: 119px;
}
.aboutProjectDescription{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    align-items: center;
    margin: 0 auto;
    max-width: 624px;
}
.aboutProjectDescription > p:nth-child(1){
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .13px;
    color:var(--btn-opacity-bg);
}
.aboutProjectDescription > p:nth-child(2){
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.2px;
}
.descriptionContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}
.descriptionContent > div:nth-child(1) {
    display: flex;
    padding-bottom: 32px;
    align-items: center;
    align-self: stretch;
}
.descriptionContent > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.descriptionContent > div:nth-child(2) > div{
    display: flex;
}
.descriptionItem{
    display: flex;
    padding: 72px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    border-right: 1px solid var(--Alpha-AD12, rgba(29, 29, 27, 0.12));
}
.descriptionItem > p:nth-child(1){
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px; /* 120% */
}
.descriptionItem > p:nth-child(2){
    text-align: center;
}

@media (max-width: 960px){
    .projectsPageWrapper{
        display: block;
    }
    .projectsPageContent{
        padding: 96px 0;
    }
    .top{
        padding: 0 20px;
    }
    .title{
        gap: 32px;
    }
    .projectTitle > div:nth-child(1) > p:nth-child(1),
    .projectTitle > div:nth-child(2) > p:nth-child(1){
        font-size: 34px;
        font-style: normal;
        font-weight: 350;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.68px;

    }
    .projectImgWrapper{
        height: 536px;
    }
}