.projectsPageWrapper{

}
.projectsPageContent{
    padding: 96px 96px 120px 96px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 56px;
}
.projectBottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.projectBottom > p:nth-child(1),
.projectBottom > p:nth-child(3){
    flex: 1 0 0;
}
.projectTitle{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.projectTitle > div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.projectTitle > div:nth-child(1) > p:nth-child(1){
    color: var(--Dark-D100, #1D1D1B);
    font-family: "TA Modern Times", sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 350;
    line-height: 90px; /* 121.622% */
    letter-spacing: 1.48px;
    text-transform: uppercase;
}
.projectTitle > div:nth-child(1) > p:nth-child(2){
    opacity: .4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 1.44px;
    text-transform: uppercase;
}
.projectTitle > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
.projectTitle > div:nth-child(2) > p:nth-child(1){
    color: var(--Dark-D100, #1D1D1B);
    font-family: "TA Modern Times", sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 350;
    line-height: 90px; /* 121.622% */
    letter-spacing: 1.48px;
    text-transform: uppercase;
}
.projectTitle > div:nth-child(2) > p:nth-child(2){
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.44px;
    text-transform: uppercase;
    opacity: .4
}
.projectBottom > p:nth-child(2){
    color: var(--Dark-D100, #1D1D1B);
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px; /* 125% */
}
.projectBottom > p:nth-child(3){
    text-align: right;
}
.projectImgWrapper{
    width: 100%;
    height: 730px;
}
.projectImgWrapper > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projectDescription{
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    gap: 119px;
}
.aboutProjectDescription{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    align-items: center;
    margin: 0 auto;
    max-width: 624px;
}
.aboutProjectDescription > p:nth-child(1){
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .13px;
    color:var(--btn-opacity-bg);
}
.aboutProjectDescription > p:nth-child(2){
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.2px;
}
.descriptionContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}
.descriptionContent > div:nth-child(1) {
    display: flex;
    padding-bottom: 32px;
    align-items: center;
    align-self: stretch;
}
.descriptionContent > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.descriptionContent > div:nth-child(2) > div{
    display: flex;
}
.descriptionItem{
    display: flex;
    padding: 72px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    border-right: 1px solid var(--Alpha-AD12, rgba(29, 29, 27, 0.12));
}
.descriptionItem > p:nth-child(1){
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px; /* 120% */
}
.descriptionItem > p:nth-child(2){
    text-align: center;
}

.projectLocation{
    background-color: #30302E;
    margin-bottom: 120px;
}
.projectLocationContent{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 104px;
}
.projectLocationContentTitle{
    padding: 0 96px;
    display: flex;
    justify-content: space-between ;
    align-items: flex-end;
}
.projectLocationContentTitle > h2{
    color: var(--text-color-light);
    text-align: center;
    font-feature-settings: 'ss10' on;
    font-family: "TA Modern Times", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 350;
    line-height: 72px; /* 112.5% */
    letter-spacing: 2.56px;
    text-transform: uppercase;
}
.projectLocationContentTitle > div{
    width: 416px;
    flex-shrink: 0;
}
.projectLocationContentTitle > div > p{
    opacity: .4;
    color: var(--text-color-light);
}
.projectLocationContentTitle > div > span{
    color: var(--text-color-light);
}
.mapWrapper{
    height: 736px;
    width: 100%;
}
a.linkLocation{
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    background: var(--Dark-D100, #1D1D1B);
    backdrop-filter: blur(16px);
    position: absolute;
    z-index: 30;
    bottom: 32px;
    left: 48px;
}
.linkLocation > p{
    color: var(--text-color-light);
}
@media (max-width: 960px){
    .projectsPageWrapper{
        display: block;
    }
    .projectsPageContent{
        padding: 96px 0;
        gap: 32px;
    }
    .top{
        padding: 0 20px;
    }
    .title{
        gap: 32px;
    }
    .projectTitle > div:nth-child(1) > p:nth-child(1),
    .projectTitle > div:nth-child(2) > p:nth-child(1){
        font-size: 34px;
        font-style: normal;
        font-weight: 350;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.68px;

    }
    .projectImgWrapper{
        height: 536px;
    }
    .projectBottom > p:nth-child(1),
    .projectBottom > p:nth-child(3){
        display: none;
    }
    .projectBottom > p:nth-child(2){
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 26px; /* 130% */
        align-self: stretch;
        flex: 1 0 0;
    }
    .mobileBottomDescription{
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
    }
    .mobileBottomDescription > p{
        flex: 1 0 0;
    }
    .mobileBottomDescription > p:nth-child(2){
        text-align: right;
    }
    .projectDescription{
        margin-top: 64px;
        padding: 0 20px;
        gap: 24px;
    }
    .aboutProjectDescription > p:nth-child(1){
        font-size: 12px;
        font-weight: 400;
        line-height: 12px; /* 100% */
        letter-spacing: 0.12px;
    }
    .aboutProjectDescription > p:nth-child(2){
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: 0.18px;
    }
    .descriptionContent{
        gap: 0;
    }
    .descriptionContent > div, .descriptionContent > div > div{
        flex-direction: column;
    }
    .descriptionItem{
        padding: 40px 0;
        align-items: flex-start;
        border-right: none;
        border-bottom: 1px solid var(--Alpha-AD12, rgba(29, 29, 27, 0.12));
    }
    .descriptionItem > p:nth-child(1){
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        line-height: 28px; /* 116.667% */
    }
    .descriptionItem > p:nth-child(2){
        text-align: left;
    }
    .projectLocation{
        display: flex;
    }
    .projectLocationContent{
        padding-top: 48px;
    }
    .projectLocationContentTitle{
        flex-direction: column;
        padding: 0 20px;
        gap: 32px;
        align-items: flex-start;
    }
    .projectLocationContentTitle > div{
        width: 100%;
    }
    .projectLocationContentTitle > h2{
        font-size: 34px;
        font-weight: 350;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.68px;
    }
    a.linkLocation{
        display: none;
    }
    .projectLocation{
        margin-bottom: 96px;
    }
}