.modalWrapper{
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.48);
}
.modalContent{
    display: flex;
    width: 480px;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    background: var(--Light-L80, #E5E3DA);
}
.modalTitleBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.modalTitleBlock > div:nth-child(1){
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.modalTitleBlock > div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    align-items: center;
}
.modalTitleBlock > div:nth-child(2) > h3{
    font-family: "PT Serif", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px; /* 120% */
}
.inputsBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 32px;
    align-self: stretch;
}
.inputsBlock > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.inputsBlock > div > input{
    width: 100%;
    display: flex;
    padding: 14px 0;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-bottom: 1px solid rgba(29, 29, 27, 0.14);
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    text-align: center;
}
.bottom > button{
    display: flex;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 320px;
    background: var(--text-color);
}
.bottom > button > p{
    color: var(--text-color-light);
}
.bottom > p{
    text-align: center;
    margin: 0 auto;
}
.resultBlock{
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}
.resultBlock > h3{
    color: var(--Dark-D100, #1D1D1B);
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px; /* 120% */
}
.resultBlock > p{
    text-align: center;
}