.locationWrapper{
    width: 100%;
    height: 100dvh;
}

.map{
    width: 100%;
    height: 100%;
}

@media (max-width: 960px){
    .locationWrapper{
        display: block;
        height: 784px;
    }
}