.locationWrapper{
    width: 100%;
    height: 100dvh;
    position: relative;
}

.map{
    width: 100%;
    height: 100%;
    position: relative;
}
.projectInformation{
    display: flex ;
    display: flex;
    width: 360px;
    height: 704px;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.48);
    backdrop-filter: blur(16px);
    position: absolute;
    left: 48px;
    bottom: 24px;    
    overflow: hidden;
}
.projectInformationTop{
    display: flex;
    height: 352px;
    padding: 24px 16px 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    position: relative;
    overflow: hidden;
}
.projectInformationTop > img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.projectTabs{
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 320px;
    background: rgba(33, 33, 31, 0.64);
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 3;
}
.projectTabs > button > p{
    color: var(--Light-L100, #EBE9E1);
    opacity: .5;
}
.projectTabs > button{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 32px;
}
.prjectInfoTitleBlock{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 16px;
    gap: 12px;
}
.prjectInfoTitleBlock > p:nth-child(1){
    color: var(--Light-L100, #EBE9E1);
    font-family: "TA Modern Times", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 350;
    line-height: 32px; /* 100% */
    letter-spacing: 0.64px;
    text-transform: uppercase;
}
.prjectInfoTitleBlock > p:nth-child(2){
    opacity: .5;
    color: var(--text-color-light);
}
.projectsCharactersistics{
    display: flex;
    height: 174px;
    padding: 0 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}
.projectsCharactersistics > ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}
.projectsCharactersistics > ul > li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.projectsCharactersistics > ul > li > p{
    color: var(--text-color-light);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
.projectsCharactersistics > ul > li > p:nth-child(1){
    opacity: .5;
}
.projectItemsLinks{
    display: flex;
    align-items: center;
    gap: 8px;
}
.projectItemsLinks > a{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: rgba(101, 101, 94, 0.32);
    backdrop-filter: blur(16px);
}
.projectItemsLinks > a:hover{
    background: rgba(101, 101, 94, 0.52);
}
.projectItemsLinks > a > p{
    color: var(--text-color-light);
}

@media (max-width: 960px){
    .locationWrapper{
        display: block;
        height: auto;
    }
    .map{
        height: 600px;
    }
    .projectInformation{
        /* display: none; */
        position: relative;
        width: 100%;
        border-radius: 0;
        /* margin-top: 700px; */
        gap: 32px;
        height: auto;
        bottom: auto;
        left: auto;
        top: auto;
    }
    .projectInformationTop{
        height: 200px;
    }
}