.mapZoomBtn{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-radius: 32px;
    background: var(--Dark-D100, #1D1D1B);
    backdrop-filter: blur(16px);
    /* padding: 10px 16px; */
}
.mapZoomBtn:hover{
    background: var(--btn-hover-bg);
}
.gmnoprint{
    display: none;
}
button.gm-control-active{
    display: none;
}

@media (max-width: 768px){
   .zoom-control-wrapper{
        right: 20px!important;
        gap: 8px!important;
        margin-top: -48px!important;
        top: 50%;
        /* margin-top: -48px; */
        bottom: auto!important;
   }
   .mapZoomBtn{
    width: 44px;
    height: 44px;
   }
}