header{
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 0.6px solid var(--Alpha-AD12, rgba(29, 29, 27, 0.12));
    background: var(--Light-L80, #E5E3DA);
    z-index: 100;
}
header > nav{
    width: 100%;
    display: flex;
    padding: 32px 48px 16px 48px;
    justify-content: space-between;
    align-items: flex-start;
}
header > nav > .left{
    display: flex;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
}
.menuBtn{
    display: flex;
    align-items: center;
    gap: 16px;
}
.projectsBtn{
    display: flex;
    align-items: center;
    gap: 4px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 9.75px;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
}
.langBtn{
    display: flex;
    align-items: center;
    gap: 8px;
}