.plansWrapper{
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0 96px 96px 96px;
}
.plansTitleBlock{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.plansTitleBlock > h2{
    /* text-align: center; */
    font-feature-settings: 'ss10' on;
    font-family: "TA Modern Times", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 350;
    line-height: 72px; /* 112.5% */
    letter-spacing: 2.56px;
    text-transform: uppercase;
}
.plansListWrapper{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.showMorePlansBtn{
    display: flex;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: var(--text-color);
    border-radius: 320px;
    /* max-width: 0px; */
    margin: 0 auto;;
}
.showMorePlansBtn > p{
    color: var(--text-color-light);
}
.filtersRow {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.filterItem{
    flex:  1 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.filterItem > p:nth-child(1){
    opacity: .4;
}
.filterTabs{
    display: flex;
    padding: 2px;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    border-radius: 320px;
    border: 1px solid var(--Alpha-AD16, rgba(29, 29, 27, 0.16));
    backdrop-filter: blur(50px);
}
.filterTabs > button{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 32px;
}
.activeTab{
    color: var(--text-color-light);
    padding: 10px 24px;
    background: #1D1D1B;
}
.filterSliderWrapper{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    /* border-radius: 32px;
    border: 1px solid var(--Alpha-AD16, rgba(29, 29, 27, 0.16)); */
    backdrop-filter: blur(16px);
    width: 100%;
    position: relative;
}
.filterSliderWrapper > p{
     flex: 1 0 0;
}
.filterSliderWrapper > div{
    width: 1px;
    height: 100%;
    background: var(--Alpha-AD16, rgba(29, 29, 27, 0.16));

}
.filterSliderWrapper > p:nth-child(3){
    text-align: right;
}
.filterSliderWrapper > .line{
    position: absolute;
    left: 24px;
    right: 24px;
    width: calc(100% - 48px);
    bottom: 0px;
    height: 1px;
    background: #1D1D1B;

}
.filterSliderWrapper > input{
    /* width: 100%; */
    /* bottom: 0; */
    /* position: absolute; */
    position: absolute;
    bottom: -4px;    
    border: none;
    /* border-bottom: 1px solid #1D1D1B; */
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: calc(100% - 24px)
}
.filterSliderWrapper > input::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    width: 24px;
    height: 9px;
    z-index: 2;
    border-radius: 50%;
    border-radius: 12px;
    background: var(--Dark-D100, #1D1D1B);
    -webkit-appearance: none;
}
.plansList{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 32px;
}
.planItemCard{
    cursor: pointer;
    display: flex;
    padding: 48px 24px 40px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--Alpha-AW24, rgba(255, 255, 255, 0.24));
}
.planItemCard:hover{
    background: var(--Alpha-A48, rgba(255, 255, 255, 0.48));
}
.planItemCard:hover a.detailsBtn{
    opacity: 1;
    z-index: 1;
}
.planItemImg{
    width: 100%;
    height: 260px;
    display: flex;
    height: 260px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    position: relative;
}
.planItemImg > img{
    width: 100%;
    height: 100%;
}
a.detailsBtn{
    opacity: 0;
    top: 50%;
    margin-top: -22px;
    left: 50%;
    margin-left: -62px;
    z-index: -100;
    position: absolute;
    display: flex;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 320px;
    background: var(--Dark-D100, #1D1D1B);
    color: var(--text-color-light);
}
.planItemDescription{
    display: flex;
    min-width: 220px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.planItemDescription > p:nth-child(1){
    font-family: "PT Serif", sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px; /* 106.667% */
}
.planItemDescInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.planItemDescInfo > li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}
.planItemDescInfo > li > p:nth-child(1){
    width: 90px;
    opacity: .4;
}
.planItemDescInfo > li > p:nth-child(2){
    flex: 1 0 0;
    text-align: right;
}
.plansTitleBlock > p:nth-child(1){
    display: flex;
    align-items:  center;
    gap: 12px;
}
.plansTitleBlock > p:nth-child(1) > a{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.44px;
    text-transform: uppercase;
    color: var(--text-color);
}


@media (max-width: 960px){
    .plansWrapper{
        padding: 0 20px;
        gap: 32px;
    }
    .plansTitleBlock > h2{
        font-size: 34px;
        font-style: normal;
        font-weight: 350;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.68px;
    }
    .filterItem:nth-child(2),
    .filterItem:nth-child(3),
    .filterItem:nth-child(4){
        display: none;
    }
    .plansListWrapper{
        gap: 32px;
    }
    .plansList{
        grid-template-columns: repeat(1, auto);
    }
    .planItemCard{
        padding: 24px;
        gap: 16px;
    }
    .planItemDescription > p:nth-child(1){
        font-size: 26px;
        font-style: italic;
        font-weight: 400;
        line-height: 26px; /* 100% */
    }
    .plansWrapper{
        padding-bottom: 96px;
    }
    .plansTitleBlock > p:nth-child(1){
        gap: 8px;
    }
    .plansTitleBlock > p:nth-child(1) > a{
        font-size: 10px;
        line-height: 16px;
    }
}