.prefaceWrapper{
    padding: 90px 48px 100px 48px;
}
.prefaceInner{
    display: flex;
    width: 416px;
    padding: 32px 0;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 24px;
    background: var(--Light-L80, #E5E3DA);
    margin: 0 auto;
}
.prefaceRows{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prefaceRow{
    display: flex;
    gap: 7px;
    align-items: center;
}
.prefaceRows > p,
.prefaceRow > p{
    text-align: center;
    font-family: "PT Serif", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
@media (max-width: 960px){
    .prefaceWrapper{
        display: flex;
        padding: 32px 20px 72px 20px;
    }
    .prefaceInner{
        padding: 32px 16px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .prefaceRows > p,
    .prefaceRow > p{
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        letter-spacing: 0.16px;
    }
}