.developerSection{
    background: rgba(163, 159, 145, 0.24);
}
.developerSectionInner{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 104px;
    padding: 96px 0;
    /* background: var(--Light-L80, #E5E3DA); */

}
.top{
    padding: 0 96px;
    display: flex;
    width: 1144px;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}
.titleWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.titleWrapper > h2{
    color: var(--Dark-D100, #1D1D1B);
    font-family: "PT Serif", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px; /* 120% */
}
.developerInfo{
    display: flex;
    align-items: flex-start;
    gap: 72px;
    align-self: stretch;
}
.developerInfo > p{
    flex: 1 0 0;
}
.developerBtn{
    display: flex;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 320px;
    background: var(--Dark-D100, #1D1D1B);
}
.developerBtn > p{
    color: var(--text-color-light);
}
.bottom{
    padding-left: 96px;
    padding-top: 24px;
    height: 70px;
    width: calc(100% );
}
.bottom > div > div> div{
    position: relative;
}
.bottom > div > div> div > img{
    /* width: 100%; */
    /* height: 35px; */
    object-fit: cover;
}

@media (max-width: 960px){
    .developerSection{
        display: block;
    }
    .developerSectionInner{
        padding: 64px 0;
        gap: 56px;
    }
    .top{
        gap: 32px;
        width: 100%;
        padding: 0 20px;
    }
    .developerInfo{
        width: 100%;
        flex-direction: column;
        gap: 32px;
    }
    .bottom{
        padding-left: 20px;
    }
    .titleWrapper{
        gap:10px;
    }
    .titleWrapper > svg{
        width: 27px;
        height: 24px;
    }
    .titleWrapper > h2{
        font-size: 32px;
        line-height: 32px;
    }
}