@font-face {
  font-family: 'TA Modern Times';
  src: url('../public/assets/fonts/TA_Modern_Times/TA_ModernTimes_SemiXSemiLight.woff2') format("woff2");
  font-style: normal;
  font-weight: 350;
}
@font-face {
  font-family: 'TA Modern Times';
  src: url('../public/assets/fonts/TA_Modern_Times/TA_ModernTimes_expRegular.woff2') format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../public/assets/fonts/PT_Serif/PTSerif-Italic.woff2');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik LCG';
  src: url('../public/assets/fonts/Graphic_LCG/GraphikLCG-Regular.woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik LCG';
  src: url('../public/assets/fonts/Graphic_LCG/GraphikLCG-Medium.woff2');
  font-style: normal;
  font-weight: 500;
}

:root {
  --lvh: 1vh;
}


*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  transition: .25s ease-in-out;
  font-family: 'Graphik LCG', sans-serif;
}
*:hover{
  transition: .25s ease-in-out;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
  font-size: inherit;
}
img{
  padding: 0;
  margin: 0;
}

ul, ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
a:visited,
a:focus{
  color: inherit;
}
a{
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  transition: .3s linear;
}
a:hover{
  color: inherit;
  /* transition: .3s linear; */
}
html, body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: var(--bg-primary);
  font-weight: 400;
  color: var(--text-color);
  scroll-behavior: smooth;    
  font-family: 'Graphik LCG', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 175% */
}
p{
  font-weight: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 175% */
}
span{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;    
}
p, .header__link{
  transition: .25s ease-in-out;
}
input{
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Graphik LCG', sans-serif;
  font-weight: inherit;
  cursor: pointer;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


:root{
  --bg-primary: #E5E3DA;
  --text-color: #1D1D1B;
  --text-color-light: #E5E3DA;
  --cursor-color:  #A77A4E;
  --btn-bg: #1D1D1B;
  --btn-hover-bg:#33332F;
  --btn-text-color: #EBE9E1;
  --btn-opacity-bg: #A39F91;
  --btn-opacity-hover-bg: #B2B1A2;;
  --tab-bg: #1D1D1B;
  --tab-hover-bg: rgba(29, 29, 27, 0.12);
  --border-color: rgba(29, 29, 27, 0.16);
  --border-hover-color: rgba(29, 29, 27, 0.32);
  --eyebrow-color:#A39F91;
}

@media (max-width: 960px){
  section{
    display: none;
  }
  *,p{
    font-size: 13px;
    line-height: 22px;
  }
}